/* Sayfa yüklenmeden önceki o beyaz parlamayı engeller */
:root {
  background-color: #0a0a0a; /* Kömür karası */
  color-scheme: dark; /* Tarayıcıya "Bu site karanlık" sinyali verir */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar'ı da karartalım (Chrome/Safari/Edge) */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}